* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
h1, p, h2 {
    text-align: center;
}

.center {
display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

.start {
    background-color: blue;
    color: white;
    border-radius: 100px;
}

.time {
    text-align: right;
    color: white;
}

a {
    color: white;
}

.home {
    padding-top: 1.5%;
}

.bg-blue {
    background-color: blue;
}

.quizArea {
    flex-direction: column;
    padding: 1%;
}

.answerBtn {
    border: 2px solid;
    margin: 1em auto;
    padding: 1 em 0;
    background-color: lightgreen;
    color: black;
    width: 25%;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    display: block;
}

main {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.endOfGame {
    flex-direction: column;
    padding: 1%;
}